@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Basisfarben (Light Mode) */
    --background: 0, 0%, 94%;
    --foreground: 210, 90%, 20%;
    --card: 0, 0%, 94%; 
    --card-foreground: 210, 90%, 20%;
    --popover: 0, 0%, 94%; 
    --popover-foreground: 210, 90%, 20%;

    --primary: 33, 100%, 50%; 
    --primary-foreground: 0, 0%, 94%;

    --secondary: 190, 80%, 65%;
    --secondary-foreground: 0, 0%, 94%;

    --muted: 219, 68%, 59%;
    --muted-foreground: 210, 90%, 35%;

    --accent: 217, 69%, 70%;  
    --accent-foreground: 0, 0%, 94%;

    --destructive: 33, 100%, 50%; 
    --destructive-foreground: 0, 0%, 94%;

    --border: 220, 75%, 23%;  
    --input: 220, 75%, 23%;  
    --ring: 221, 71%, 49%; 

    --black: 0, 0%, 0%;  
    --white: 0, 0%, 100%;   

    --hover-background: 33, 100%, 40%;  
    --hover-foreground: 0, 0%, 94%;  

    --radius: 0.5rem;
  }

  .dark {
    /* Dark Mode Farben */
    --background: 0, 0%, 0%;   
    --foreground: 0, 0%, 90%;    
    --card: 218, 85%, 15%; 
    --card-foreground: 0, 0%, 90%; 
    --popover: 218, 85%, 15%;  
    --popover-foreground: 0, 0%, 90%; 

    --primary: 33, 100%, 50%;  
    --primary-foreground: 218, 85%, 15%; 

    --secondary: 225, 74%, 43%;     
    --secondary-foreground: 0, 0%, 90%;  

    --muted: 220, 75%, 23%;     
    --muted-foreground: 0, 0%, 70%;  

    --accent: 219, 68%, 59%;     
    --accent-foreground: 0, 0%, 90%;

    --destructive: 33, 100%, 50%;    
    --destructive-foreground: 0, 0%, 90%;

    --border: 220, 75%, 23%;  
    --input: 220, 75%, 23%;   
    --ring: 190, 80%, 65%;  

    --black: 0, 0%, 0%;      
    --white: 0, 0%, 100%;       

    --hover-background: 33, 100%, 60%;  
    --hover-foreground: 218, 85%, 15%;  
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
